<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PYCS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Create_prescription_servlet</display-name>
    <servlet-name>Create_prescription_servlet</servlet-name>
    <servlet-class>cn.sudt.servlet.Create_prescription_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create_prescription_servlet</servlet-name>
    <url-pattern>/Create_prescription_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Allcases_search</display-name>
    <servlet-name>Allcases_search</servlet-name>
    <servlet-class>cn.sudt.servlet.Allcases_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Allcases_search</servlet-name>
    <url-pattern>/Allcases_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Case_details</display-name>
    <servlet-name>Case_details</servlet-name>
    <servlet-class>cn.sudt.servlet.Case_details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Case_details</servlet-name>
    <url-pattern>/Case_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Case_delete</display-name>
    <servlet-name>Case_delete</servlet-name>
    <servlet-class>cn.sudt.servlet.Case_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Case_delete</servlet-name>
    <url-pattern>/Case_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Case_rectify</display-name>
    <servlet-name>Case_rectify</servlet-name>
    <servlet-class>cn.sudt.servlet.Case_rectify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Case_rectify</servlet-name>
    <url-pattern>/Case_rectify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Case_rectify_index</display-name>
    <servlet-name>Case_rectify_index</servlet-name>
    <servlet-class>cn.sudt.servlet.Case_rectify_index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Case_rectify_index</servlet-name>
    <url-pattern>/Case_rectify_index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Case_rectify_t</display-name>
    <servlet-name>Case_rectify_t</servlet-name>
    <servlet-class>cn.sudt.servlet.Case_rectify_t</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Case_rectify_t</servlet-name>
    <url-pattern>/Case_rectify_t</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctor</display-name>
    <servlet-name>AddDoctor</servlet-name>
    <servlet-class>cn.sdut.servlet.AddDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctor</servlet-name>
    <url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_login</display-name>
    <servlet-name>Admin_login</servlet-name>
    <servlet-class>cn.sdut.servlet.Admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_login</servlet-name>
    <url-pattern>/Admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDoctor</display-name>
    <servlet-name>DeleteDoctor</servlet-name>
    <servlet-class>cn.sdut.servlet.DeleteDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDoctor</servlet-name>
    <url-pattern>/DeleteDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDoctor</display-name>
    <servlet-name>UpdateDoctor</servlet-name>
    <servlet-class>cn.sdut.servlet.UpdateDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDoctor</servlet-name>
    <url-pattern>/UpdateDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_out</display-name>
    <servlet-name>Admin_out</servlet-name>
    <servlet-class>cn.sdut.servlet.Admin_out</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_out</servlet-name>
    <url-pattern>/Admin_out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctor_out</display-name>
    <servlet-name>Doctor_out</servlet-name>
    <servlet-class>cn.sdut.servlet.Doctor_out</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctor_out</servlet-name>
    <url-pattern>/Doctor_out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPatient</display-name>
    <servlet-name>AddPatient</servlet-name>
    <servlet-class>cn.sdut.servlet.AddPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatient</servlet-name>
    <url-pattern>/AddPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Allpatient_search</display-name>
    <servlet-name>Allpatient_search</servlet-name>
    <servlet-class>cn.sdut.servlet.Allpatient_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Allpatient_search</servlet-name>
    <url-pattern>/Allpatient_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Patient_delete</display-name>
    <servlet-name>Patient_delete</servlet-name>
    <servlet-class>cn.sdut.servlet.Patient_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patient_delete</servlet-name>
    <url-pattern>/Patient_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Patient_detail</display-name>
    <servlet-name>Patient_detail</servlet-name>
    <servlet-class>cn.sdut.servlet.Patient_detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patient_detail</servlet-name>
    <url-pattern>/Patient_detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Patient_rectify_index</display-name>
    <servlet-name>Patient_rectify_index</servlet-name>
    <servlet-class>cn.sdut.servlet.Patient_rectify_index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patient_rectify_index</servlet-name>
    <url-pattern>/Patient_rectify_index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Patient_rectify_t</display-name>
    <servlet-name>Patient_rectify_t</servlet-name>
    <servlet-class>cn.sdut.servlet.Patient_rectify_t</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patient_rectify_t</servlet-name>
    <url-pattern>/Patient_rectify_t</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update1patent</display-name>
    <servlet-name>Update1patent</servlet-name>
    <servlet-class>cn.sdut.servlet.Update1patent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update1patent</servlet-name>
    <url-pattern>/Update1patent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletepatient</display-name>
    <servlet-name>deletepatient</servlet-name>
    <servlet-class>cn.sdut.servlet.deletepatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletepatient</servlet-name>
    <url-pattern>/deletepatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePatient</display-name>
    <servlet-name>UpdatePatient</servlet-name>
    <servlet-class>cn.sdut.servlet.UpdatePatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatient</servlet-name>
    <url-pattern>/UpdatePatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cart_servlet_a</display-name>
    <servlet-name>cart_servlet_a</servlet-name>
    <servlet-class>cn.sudt.servlet.cart_servlet_a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart_servlet_a</servlet-name>
    <url-pattern>/cart_servlet_a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>drug_addition_servlet</display-name>
    <servlet-name>drug_addition_servlet</servlet-name>
    <servlet-class>cn.sudt.servlet.drug_addition_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>drug_addition_servlet</servlet-name>
    <url-pattern>/drug_addition_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>drug_delete_servlet</display-name>
    <servlet-name>drug_delete_servlet</servlet-name>
    <servlet-class>cn.sudt.servlet.drug_delete_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>drug_delete_servlet</servlet-name>
    <url-pattern>/drug_delete_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>drug_detail_servlet</display-name>
    <servlet-name>drug_detail_servlet</servlet-name>
    <servlet-class>cn.sudt.servlet.drug_detail_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>drug_detail_servlet</servlet-name>
    <url-pattern>/drug_detail_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>drug_modify_a</display-name>
    <servlet-name>drug_modify_a</servlet-name>
    <servlet-class>cn.sudt.servlet.drug_modify_a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>drug_modify_a</servlet-name>
    <url-pattern>/drug_modify_a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>drug_modify_b</display-name>
    <servlet-name>drug_modify_b</servlet-name>
    <servlet-class>cn.sudt.servlet.drug_modify_b</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>drug_modify_b</servlet-name>
    <url-pattern>/drug_modify_b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>drug_servlet</display-name>
    <servlet-name>drug_servlet</servlet-name>
    <servlet-class>cn.sudt.servlet.drug_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>drug_servlet</servlet-name>
    <url-pattern>/drug_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>drug_warning_s</display-name>
    <servlet-name>drug_warning_s</servlet-name>
    <servlet-class>cn.sudt.servlet.drug_warning_s</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>drug_warning_s</servlet-name>
    <url-pattern>/drug_warning_s</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>password_servlet</display-name>
    <servlet-name>password_servlet</servlet-name>
    <servlet-class>cn.sudt.servlet.password_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>password_servlet</servlet-name>
    <url-pattern>/password_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>personalInfo</display-name>
    <servlet-name>personalInfo</servlet-name>
    <servlet-class>cn.sudt.servlet.personalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personalInfo</servlet-name>
    <url-pattern>/personalInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>drug_warning</display-name>
    <servlet-name>drug_warning</servlet-name>
    <servlet-class>cn.sudt.servlet.drug_warning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>drug_warning</servlet-name>
    <url-pattern>/drug_warning</url-pattern>
  </servlet-mapping>
</web-app>